body{
margin: 0;
padding:0;
background-image: url('https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/42C6/production/_102149071_cyan-blue-976x549.jpg.webp');   
background-size: cover;
background-repeat: no-repeat;
background-position: center;
font-family: Arial, sans-serif;
}
